{% include 'top.html' %}

<div class="content">
    <div class="container">
        <h1 class="title" align="center">Olympics Events</h1>
        <div class="search">
            <form class="search-top" method="POST" action="{{url_for('list_event')}}">
                <input type="text" name="search" placeholder="Search Events" autofocus>
                <button class="flat" type="submit">Find</button>
                <div class="clear"></div>
            </form>
        </div>
        <table class="styled">
            <thead>
                <tr>
				    <th>Event ID</th>
                    <th>Name</th>
                    <th>Sport</th>
                    <th>Referee</th>
                    <th>Judge</th>
                    <th>Medal Giver</th>
                </tr>
            </thead>
            <tbody>
                    {% for e in event %}
                    <tr class='clickable-row' data-href="{{url_for('update_event', event_id=e.event_id)}}" method = GET>
					    <td>{{ e.event_id }}</td>
                        <td>{{ e.event_name }}</td>
                        <td>{{ e.sport }}</td>
                        <td>{{ e.referee }}</td>
                        <td>{{ e.judge }}</td>
                        <td>{{ e.medal_giver }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" defer="defer"> jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
	$(".clickable-row").mouseover(function() {
        $(this).css('background-color', '#eeeeee');
    });
	$(".clickable-row").mouseout(function() {
        $(this).css('background-color', 'white');
    });

});
</script>

{% include 'bottom.html' %}
